image: eicweb.phy.anl.gov:4567/containers/image_recipes/ubuntu_dind:latest
#
stages:
  - build
  - singularity

release:build:
  stage: build
  tags:
     - silicon
  only:
     - master
     - tags
  script:
     - cd containers/docker
     - make login
     - make release-cached
staging:build:
  stage: build
  tags:
     - silicon
  only:
     - staging
  script:
     - cd containers/docker
     - make login
     - make staging-cached
develop:build:
  stage: build
  tags:
     - silicon
  except:
     - staging
     - master
     - tags
  script:
     - cd containers/docker
     - make login
     - make develop-cached

release:singularity:
  image: eicweb.phy.anl.gov:4567/containers/image_recipes/ubuntu_dind:latest
  stage: singularity
  only:
     - tags
  tags:
     - singularity
  needs: ['release:build']
  script:
     - cp containers/singularity/lager.def .
     - /bin/bash .gitlabci/build.sh lager.def
     - mkdir -p build 
     - cp lager.sif build/.
     - cp lager.def build/.
  artifacts:
    expire_in: 90 days
    paths:
      - build/lager.sif
      - build/lager.def
