image: eicweb.phy.anl.gov:4567/containers/image_recipes/ubuntu_dind:latest
#

variables:
  ## Spack github version
  SPACK_VERSION: "a68abc15c5b1b8266130f765d1bee6290e71fa7c"

  ## We need to enable Docker Buildkit to use cache mounts and better
  ## build performance overal
  DOCKER_BUILDKIT: 1

  ## Dockerhub registry
  DH_REGISTRY: eicweb
  DH_PUSH: 1

  ## TLS error resiliency: number of retries and second wait between tries 
  ## (wait time is doubled with each attempt)
  DOCKER_NTRIES: 5
  DOCKER_WAIT_TIME: 5

  ## Force a rebuild without using cache
  FORCE_NOCACHE: 0

stages:
  - config
  - build
  - deploy
  - test
  - finalize

default:
  tags:
    - silicon
  before_script:
    - ./.gitlabci/docker_login.sh -u $DH_REGISTRY -p $DH_EICWEB_TOKEN
                                   -n $DOCKER_NTRIES -t $DOCKER_WAIT_TIME
    - ./.gitlabci/docker_login.sh --ci -n $DOCKER_NTRIES -t $DOCKER_WAIT_TIME

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_BRANCH =~ /^v[0-9]+\.[0-9]+-stable/'   ## main stable branch: vX.Y-stable
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+/'     ## commit tags start with vX.Y.Z with optional suffix

version:
  stage: config
  script:
    - |
      VERSION=`head -n1 VERSION`
      VERSION_FULL=${VERSION}
      VERSION_SHORT=${VERSION%.*}
      TESTING="testing"
    ## determine appropriate major docker tag for this scenario
    - |
      ## internal tag used for the CI. Also temporarily tagged
      ## on eicweb to communicate between jobs (removed in cleanup job)
      INTERNAL_TAG="testing-$VERSION"
      ## main export tag, optional secondary export tag,
      EXPORT_TAG=${TESTING}
      EXPORT_TAG2=
      if [ "x${CI_PIPELINE_SOURCE}" = "xmerge_request_event" ]; then
        INTERNAL_TAG="unstable-mr-${CI_MERGE_REQUEST_ID}"
        EXPORT_TAG=${VERSION_SHORT}-unstable
        EXPORT_TAG2=
      elif [[ "$CI_COMMIT_TAG" =~ ^v${VERSION} ]]; then
        VERSION_FULL="${CI_COMMIT_TAG:1}"
        INTERNAL_TAG="stable-tag-${VERSION_FULL}"
        EXPORT_TAG=${VERSION_FULL}
        EXPORT_TAG2=
      elif [ "$CI_COMMIT_BRANCH" = "v${VERSION_SHORT}-stable" ]; then
        INTERNAL_TAG="stable-br-${VERSION}"
        EXPORT_TAG=${VERSION_SHORT}-stable
        EXPORT_TAG2=
      fi
      echo "INTERNAL_TAG=$INTERNAL_TAG" >> build.env
      echo "EXPORT_TAG=$EXPORT_TAG" >> build.env
      echo "EXPORT_TAG2=$EXPORT_TAG2" >> build.env
      cat build.env
  artifacts:
    reports:
      dotenv: build.env

lager:build:
  stage: build
  when: on_success
  resource_group: build
  needs:
    - version
  variables:
    BUILD_IMAGE: "lager"
  script:
    ## calculate a hash based on the spack.yaml file and the spack directory
    ## and use this spack as a docker variable to force a rebuild when there
    ## is a change (versus rerun from cache)
    #- PACKAGE_HASH=$(tar cf - .container/spack/* | sha1sum | head -c40)
    # #DISABLED hashing as somehow it leads to a full rebuild every time
    - PACHAGE_HASH="no-hashing"
    - |
      if [ $FORCE_NOCACHE = 1 ]; then
        echo "FORCE_NOCACHE set"
        export PACKAGE_HASH=`date +%s`
      fi   
    - echo "PACKAGE_HASH= ${PACKAGE_HASH}"
    ## now build our image
    - docker build -t ${CI_REGISTRY_IMAGE}/${BUILD_IMAGE}:${INTERNAL_TAG} 
                   -f .container/lager.Dockerfile
                   --build-arg SPACK_VERSION=${SPACK_VERSION}
                   --build-arg CACHE_BUST=${PACKAGE_HASH}
                   --build-arg LAGER_VERSION=${CI_COMMIT_REF_NAME}
                   --build-arg REPO_URL=${CI_REPOSITORY_URL} 
                   .container
    ## standard exports
    - ./.gitlabci/docker_push.sh -i ${BUILD_IMAGE} -l ${INTERNAL_TAG} 
                                 -n $DOCKER_NTRIES -t $DOCKER_WAIT_TIME
                                 ${EXPORT_TAG} ${EXPORT_TAG2}
    - ./.gitlabci/docker_push.sh -i ${BUILD_IMAGE} -l ${INTERNAL_TAG} 
                                 -n $DOCKER_NTRIES -t $DOCKER_WAIT_TIME
                                 ${INTERNAL_TAG} --eicweb

lager:deploy:
  stage: deploy
  interruptible: true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success
  artifacts:
      expire_in: 100 days
      paths:
        - build/${BUILD_IMAGE}.sif
  needs: 
    - version
    - lager:build
  variables:
    BUILD_IMAGE: "lager"
  script:
    - mkdir build
    - singularity pull build/${BUILD_IMAGE}.sif docker://${CI_REGISTRY_IMAGE}/${BUILD_IMAGE}:${INTERNAL_TAG}


cleanup:
  stage: finalize
  dependencies:
    - version
  script:
    ## remove the pipeline specific export from eicweb if needed
    - echo "Cleaning up pipeline specific docker tags if needed"
    - ./.gitlabci/cleanup_registry.sh -i lager -r 37 ${INTERNAL_TAG}
