image: eicweb.phy.anl.gov:4567/containers/image_recipes/ubuntu_dind:latest
#
stages:
  - phase1
  - phase2

docker:
  stage: phase1
  tags:
     - eic0 docker
  script:
     - cd containers/docker
     - make login
     - make release-cached

singularity:
  image: eicweb.phy.anl.gov:4567/containers/image_recipes/ubuntu_dind:latest
  stage: phase2
  tags:
     - singularity
  #when: manual
  script:
     - cp containers/singularity/lager.def .
    # - /bin/bash .gitlabci/setup.sh
     - /bin/bash .gitlabci/build.sh lager.def
     - mkdir -p build 
     - cp lager.sif build/.
     - cp lager.def build/.

  # This is where you can save job artifacts
  # https://docs.gitlab.com/ee/user/project/pipelines/job_artifacts.html
  # You can specify the path to containers or the build folder to save.
  # Don't forget to save your recipes too!
  artifacts:
      paths:
        - build/lager.sif
        - build/lager.def
