image: eicweb.phy.anl.gov:4567/containers/image_recipes/root_base:latest
#
stages:
  - phase1
  - phase2

hallac_docker:
  stage: phase1
  tags:
     - eic0 docker
  script:
     - cd containers/docker
     - make login
     - make release 

hallac_singularity:
  stage: phase2
  tags:
     - singularity
  script:
     - cp containers/singularity/liege.def .
     - /bin/bash .gitlabci/setup.sh
     - /bin/bash .gitlabci/build.sh liege.def
     - mkdir -p build 
     - cp liege.sif build/.
     - cp liege.def build/.

  # This is where you can save job artifacts
  # https://docs.gitlab.com/ee/user/project/pipelines/job_artifacts.html
  # You can specify the path to containers or the build folder to save.
  # Don't forget to save your recipes too!
  artifacts:
      paths:
        - build/liege.sif
        - build/liege.def
